<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>養生專欄</title>
    <link rel="stylesheet" href="/css/healthy.css" />
  </head>
  <body>
    <nav class="navbar">
      <div class="logo">Personal Health</div>
      <ul class="navbar-links">
        <li><a href="/">首頁</a></li>
        <li><a href="/medicinerecord">用藥紀錄</a></li>
        <li><a href="/healthy">養生專欄</a></li>
        <li><a href="#">聯絡我們</a></li>
      </ul>
    </nav>
    <main>
      <section class="banner">
        <img src="https://i.meee.com.tw/1pPs8Ip.jpg" alt="banner" />
        <h2>養生專欄</h2>
      </section>
    </main>
    <footer></footer>
  </body>
</html>
